@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grenze+Gotisch:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Sans:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* header  */
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    font-size: 24px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-top: 20px;
    margin: 30px 0px;
}
/* Hero Image */
    .hero-image img{
        animation-name: image-rotate;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-duration: 15s;
    }

    @keyframes image-rotate {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.price-off-label{
    background: green;
    padding: 10px 34px ;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    font-family: 'Sansita';
    font-weight: 300;
    align-self: flex-start;
}
.hero-content h1{
    font-size: 5em;
    line-height: 1;
}
.hero-content h2{
    font-size: 1em;
    opacity: .75;
    font-weight: 350;
}
/* Button  */
.primary-btn{
    background: green;
    border: none;
    padding: 12px 34px;
    border-radius: 25px;
    color: white;
    font-size: 1.1em;
    font-family: 'Sansita';
    transition: 0.2s ease-out;
}
.primary-btn:hover{
    background: rgb(0, 158, 0);
}



/* features container  */
.features-section{
    margin: 30px 0px;
}
.features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.feature-item{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
}
.feature-item-content h3{
    font-size: 1rem;
    text-align: justify;
    white-space: nowrap;
}
.feature-item-content p{
    font-size: .85rem;
}
hr{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* gallery section  */
.gallery-section{
    margin: 30px 0px;
}

.gallery-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.gallery-titles h4{
    background: green;
    padding: 10px 30px;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    font-family: 'Sansita';
}
.explore-menu{
    font-size: 2rem;
    font-weight: 500;
}


/* Gallery grid  */
/* .gallery-section{
    height: 500px;
} */
.gallery-grid{
    display: grid;
    grid-template-areas: 
    "G1 G1 G2 "
    "G1 G1 G2 "
    "G3 G4 G5 ";
    gap: 10px;
    
}
.grid-item1{
    grid-area: G1;
}
.grid-item2{
    grid-area: G2;
}
.grid-item3{
    grid-area: G3;
}
.grid-item4{
    grid-area: G4;
}
.grid-item5{
    grid-area: G5;
}
.grid-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease-in;
}
.grid-image img:hover{
    box-shadow: 2px 2px 0px 0px rgba(30, 30, 30, 0.433);
    transform: scale(1.013);
}
/* Footer  */

footer{
    /* border-top: 1px solid #ccc; */
    background: #FBDEAB;
}
.footer-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3em 1em;
    padding-bottom: 1.5em;
}

/* A ka hover  */
.footer-section a:hover{
    color: rgb(0, 136, 255);
}
/* Footer links heading  */

.footer-section h4{
    color: rgb(255, 38, 0);
}
/* Social icons  */

.footer-section i{
    color: green;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}
.footer-support-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}
.footer-links ul{
    list-style: none;
}
.footer-support-links ul{
    list-style: none;
}
.footer-links ul li{
    margin-bottom: 10px;
}
.footer-support-links ul li{
    margin-bottom: 10px;
}
.footer-links a{
    text-decoration: none;
    color:black;
}
.footer-support-links a{
    text-decoration: none;
    color:black;
}
.footer-social-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.footer-social-links input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
/* submit button   */
.submit-btn{
    background: rgb(0, 140, 255);
    border: none;
    padding: 6px 12px;
    border-radius:5px;
    color: white;
    text-transform: uppercase;
    font-size: 1.0.5rem;
}
.submit-btn:active{
    background: rgb(0, 104, 189);
}
.social-icons{
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-size: 24px;
}
@media only screen and (max-width:768px){

    .hero-container{
        flex-direction: column
    }
    .hero-content h1{
        text-align: center
    }
    .hero-content h2{
        text-align: center
    }
    .primary-btn {
        width: 100%;
    }
    .price-off-label{
        width: 100%;
    }

    .features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    }
    .feature-item{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 100%;
}

.footer-section{
    gap:20px;
    flex-wrap: wrap;
}
.footer-logo{
    flex-basis: 100%
}
.footer-links, .footer-support-links, .footer-social-links{
    flex-basis: 20%
}
};